{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <nav class="bg-green-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
              alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                aria-current="page">Dashboard</a>
              <a href="#"
                class="text-gray-300 hover:bg-yellow-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Palmarès</a>
              <a href="#"
                class="text-gray-300 hover:bg-gray-300 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Tournois</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <button type="button"
              class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
            </button>

            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <button type="button"
                  class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt="">
                </button>
              </div>

              <!--
                Dropdown menu, show/hide based on menu state.

                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
              <div
                class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                  id="user-menu-item-0">Profil</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                  id="user-menu-item-1">Paramètres</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                  id="user-menu-item-2">Déconnexion</a>
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button"
            class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
          aria-current="page">Dashboard</a>
        <a href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Palmarès</a>
        <a href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Tournois</a>
      </div>
      <div class="border-t border-gray-700 pb-3 pt-4">
        <div class="flex items-center px-5">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt="">
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-none text-white">Benjamin Pelissier</div>
            <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
          </div>
          <button type="button"
            class="relative ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
          </button>
        </div>
        <div class="mt-3 space-y-1 px-2">
          <a href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Profil</a>
          <a href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Paramètres</a>
          <a href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Déconnexion</a>
        </div>
      </div>
    </div>
  </nav>

  

  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h2>
    </div>
  </header>

  <!-- contenu -->

  <main>

    <div class="mx-auto max-w-6xl mb-5 grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-4">

      <!-- 1er block - Carte de profil -->
      <div class="px-10 py-4 mt-16 row-span-2 bg-white shadow-lg rounded-xl md:ml-5">

        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center">
              <div class="relative">
                <img
                  src="https://github.com/creativetimofficial/soft-ui-dashboard-tailwind/blob/main/build/assets/img/team-2.jpg?raw=true"
                  class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]" />
              </div>
            </div>
            <div class="w-full text-center mt-20">
              <div class="flex justify-center lg:pt-4 pt-8 pb-0">
                <div class="p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">30/1</span>
                  <span class="text-sm text-slate-400">Classement</span>
                </div>
                <div class="p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">15/4</span>
                  <span class="text-sm text-slate-400">Top Class.</span>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center mt-2">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">Benjamin Pelissier</h3>
            <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-slate-400 opacity-75"></i>TC Erquinghem
            </div>
          </div>

          <div class="mt-6 py-6 border-t border-slate-200 text-center">

            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <a href="javascript:;" class="font-normal text-slate-700 hover:text-slate-400">Editer Profil</a>
              </div>
            </div>

          </div>

          <div class="bg-gray-200 p-4 rounded-lg shadow-md">
            <h2 class="text-xl font-bold mb-2">Prochain Tournoi</h2>
            <div class="flex flex-col">
                <p class="text-gray-700"><span class="font-bold">Nom du tournoi:</span> Wimbledon</p>
                <p class="text-gray-700"><span class="font-bold">Date:</span> 15 Juillet 2024</p>
                <p class="text-gray-700"><span class="font-bold">Type:</span> Grand Chelem</p>
            </div>
        </div>
        </div>
      </div>

      <!-- 2eme bloc - Stats -->
      <div class="md:col-span-1 shadow-lg rounded-xl bg-white shadow-lg md:mt-10">

        <div class="mx-auto max-w-7xl px-4 py-6">
          <h2 class="tracking-tight text-2xl font-bold"> Stats </h2>
        </div>

        <!-- circular bar  -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
        <div class="py-20 px-10 bg-gray-100 rounded-b-xl">
          <div>
            <div class="flex items-center flex-wrap px-10 bg-white shadow-xl rounded-2xl h-20"
              x-data="{ circumference: 50 * 2 * Math.PI, percent: 80 }">
              <div class="flex items-center justify-center -m-6 overflow-hidden bg-white rounded-full">
                <svg class="w-32 h-32 transform translate-x-1 translate-y-1" x-cloak aria-hidden="true">
                  <circle class="text-gray-300" stroke-width="10" stroke="currentColor" fill="transparent" r="50"
                    cx="60" cy="60" />
                  <circle class="text-blue-600" stroke-width="10" :stroke-dasharray="circumference"
                    :stroke-dashoffset="circumference - percent / 100 * circumference" stroke-linecap="round"
                    stroke="currentColor" fill="transparent" r="50" cx="60" cy="60" />
                </svg>
                <span class="absolute text-2xl text-blue-700" x-text="`${percent}%`"></span>
              </div>
              <p class="ml-10 font-medium text-gray-600">% de victoire</p>
            </div>
          </div>

          <div class="text-center mt-12">
            <p class="text-xl font-medium">10 Victoires - 1 Défaite</p>
          </div>

        </div>
      </div>

      <!-- 3eme bloc - dernière rencontre -->
      <div class="md:col-span-1 shadow-lg rounded-xl bg-white shadow-lg">

        <div class="mx-auto max-w-7xl px-4 py-6 border-b border-gray-300">
          <h2 class="tracking-tight text-2xl font-bold "> Dernier match </h2>
        </div>
        <div class="bg-white p-4 md:mt-10">
          <div class="flex justify-between mb-2">
            <div class="text-gray-600 underline">26/03/2024</div>
          </div>
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Adversaire :</div>
            <div class="text-gray-800 font-bold">Roger Federer</div>
          </div>
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Classement :</div>
            <div class="text-gray-800 font-bold">#3</div>
          </div>
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Score :</div>
            <div class="text-gray-800 font-bold">6-4, 7-6</div>
          </div>
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Résultat :</div>
            <div class="text-green-600 font-bold">Victoire</div>
          </div>

        </div>

      </div>

    </div>
  </main>
</div>



{% endblock %}