<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions Légales</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6">

    <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Mentions Légales</h1>

        <section class="mb-8">
            <p class="text-gray-600">Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la Confiance en l’économie
                numérique, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' "Utilisateur", du site
                www.tennixtracker.com , ci-après le "Site", les présentes mentions légales. </p>
        </section>

        <section class="mb-8">
            <p class="text-gray-600">La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans
                réserve des présentes mentions légales. </p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Éditeur du site</h2>
            <p class="text-gray-600"><strong>L'éditeur du site :</strong> Benjamin Pelissier</p>
            <p class="text-gray-600"><strong>Statut :</strong> Particulier</p>
            <p class="text-gray-600"><strong>Adresse :</strong> 161 rue du Congo, 59200 Tourcoing.</p>
            <p class="text-gray-600"><strong>Téléphone :</strong> 06.25.25.36.85</p>
            <p class="text-gray-600"><strong>Email :</strong> <a href="mailto:benjpls@gmail.com" class="text-blue-600 hover:underline">benjpls@gmail.com</a></p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Hébergeur</h2>
            <p class="text-gray-600"><strong>Nom :</strong> o2switch</p>
            <p class="text-gray-600"><strong>Adresse :</strong> Chemin des Pardiaux, 63000 Clermont-Ferrand.</p>
            <p class="text-gray-600"><strong>Téléphone :</strong> 04.44.44.60.40</p>
            <p class="text-gray-600"><strong>Email :</strong> <a href="mailto:commercial@o2switch.fr" class="text-blue-600 hover:underline">commercial@o2switch.fr</a></p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Accès au site</h2>
            <p class="text-gray-600">Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout
                moment, suspendre, limiter ou interrompre le Site afin de procéder, notamment, à des mises à jour ou
                des modifications de son contenu. L'Editeur ne pourra en aucun cas être tenu responsable des
                conséquences éventuelles de cette indisponibilité sur les activités de l'Utilisateur</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Cookies</h2>
            <p class="text-gray-600">Le site internet n'utilise pas de cookies.

                Les cookies sont de petits fichiers textes envoyés à votre navigateur par les sites web que vous visitez. Ils permettent à ces sites de mémoriser certaines informations concernant votre visite. Cependant, sur ce site, nous n'avons recours à aucun cookie, que ce soit pour la collecte de données personnelles, le suivi de votre navigation, ou pour des fins marketing.
                
                Nous nous engageons à respecter votre vie privée en ne collectant aucune donnée via des cookies. Si cette politique venait à évoluer à l'avenir, nous vous en informerons préalablement et nous vous offrirons la possibilité de consentir ou non à leur utilisation, conformément à la réglementation en vigueur.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Collecte des données</h2>
            <p class="text-gray-600">Le Site assure à l'Utilisateur une collecte et un traitement des données personnelles dans le respect
                de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
                aux libertés et dans le respect de la règlementation applicable en matière de traitement des données
                à caractère personnel conformément au règlement (UE) 2016/679 du Parlement européen et du
                Conseil du 27 avril 2016 (ci-après, ensemble, la "Règlementation applicable en matière de
                protection des Données à caractère personnel").
                En vertu de la Règlementation applicable en matière de protection des Données à caractère
                personnel, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de
                ses données personnelles. L'Utilisateur peut exercer ce droit :
                par mail à l'adresse email suivante :  benjpls@gmail.com.
                Toute utilisation, reproduction, diffusion, commercialisation, modification
                sans autorisation expresse de l’Editeur est prohibée et pourra entraîner des actions et poursuites
                judiciaires telles que prévues par la règlementation en vigueur.</p>
            
                <p class="mt-4">Les données collectées sur le Site peuvent inclure : nom, prénom, adresse email, et toute autre information fournie volontairement par l'Utilisateur dans le cadre de l'utilisation du formulaire de contact ou de tout autre service proposé par le Site. Ces données sont collectées dans le but de répondre aux demandes des Utilisateurs ou de fournir des informations supplémentaires sur les services offerts.</p>
        </section>
    </div>

</body>
</html>
