<!doctype html>
<html class="h-full bg-gray-100" lang="fr">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon-16x16.png') }}">
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

	</head>
	
	<body class="h-full">
		<!-- navbar -->
		<div class="min-h-full">

			{# {% include 'partials/_navbar.html.twig' %}	 #}

			{# Inclure la navbar seulement si l'utilisateur est connecté #}

			{% if app.user %}

			{% include 'partials/_navbar.html.twig' %}

			{% endif %}

			{# Inclu le header uniquement si l'utilisateur est connecté #}

			{% if app.user %}

			{% include 'partials/_header.html.twig' %}

			{% endif %}

			{# {% include 'partials/_header.html.twig' %}	 #}

			{% block body %}
					
			{% endblock %}

		</div>	

	</body>

		{% block footer %}
		
		{% include 'partials/_footer.html.twig' %}
			
		{% endblock %}	
</html>
